---
import DiscordIcon from "@assets/icons/discord.svg";
---

<button
  id="login-btn"
  class="hidden xl:flex items-center bg-white border border-gray-300 rounded-lg px-6 py-2 text-sm font-medium text-gray-800 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 cursor-pointer"
>
  <DiscordIcon class="h-6 w-6 mr-2" />
  <span>Login con Discord</span>
</button>
<div id="user-info" class="items-center gap-2 leading-4 hidden"></div>
<div
  id="supabase-config"
  data-url={import.meta.env.PUBLIC_SUPABASE_URL}
  data-key={import.meta.env.PUBLIC_SUPABASE_ANON_KEY}
  class="sr-only"
>
</div>

<script type="module">
  import { createClient } from "https://cdn.jsdelivr.net/npm/@supabase/supabase-js/+esm";

  const config = document.getElementById("supabase-config");
  const SUPABASE_URL = config.dataset.url;
  const SUPABASE_ANON_KEY = config.dataset.key;

  const supabase = createClient(SUPABASE_URL, SUPABASE_ANON_KEY);

  const $loginBtn = document.getElementById("login-btn");
  const $userDiv = document.getElementById("user-info");

  async function loginWithDiscord() {
    await supabase.auth.signInWithOAuth({ provider: "discord" });
  }

  async function logout() {
    await supabase.auth.signOut();
    window.location.reload();
  }

  $loginBtn?.addEventListener("click", loginWithDiscord);

  async function checkSession() {
    const {
      data: { session },
    } = await supabase.auth.getSession();

    if (session?.user) {
      const user = session.user;
      const { name, avatar_url, custom_claims } = user.user_metadata;

      const displayName = custom_claims.global_name;
      const username = name.split("#")[0];

      $userDiv.classList.remove("hidden");
      $userDiv.classList.add("flex");
      $userDiv.innerHTML = `
        <img src="${avatar_url}" alt="avatar" class="w-12 h-12 rounded-full" />
        <div class="flex flex-col">
          <span class="font-semibold">${displayName}</span>
          <span class="text-xs text-gray-500">${username}</span>
          <button
            id="logout-btn"
            class="text-cs-primary hover:underline cursor-pointer text-sm flex"
          >
            Cerrar sesión
          </button>
        </div>
      `;

      $loginBtn?.remove();

      const $logoutBtn = document.getElementById("logout-btn");
      $logoutBtn?.addEventListener("click", logout);

      await supabase.from("users").upsert({
        id: user.id,
        username: name,
        avatar_url,
      });
    }
  }

  checkSession();
</script>
