---
type Props = {
  img: string;
  title: string;
  author: string;
  hour: string;
};

const { img, title, author, hour } = Astro.props;
---

<li
  class="flex px-4 gap-4 items-center md:max-lg:items-start py-4 rounded-xl justify-between bg-cs-background"
>
  <div class="flex flex-col md:flex-row gap-4 md:items-center">
    <img
      width="84"
      height="84"
      src={img}
      alt={`Profile image of the author: ${author}`}
      class="border border-slate-200 rounded-full object-cover"
      loading="lazy"
      decoding="async"
      fetchpriority="low"
    />
    <div class="flex flex-col gap-1">
      <h2 class="font-semibold">{title}</h2>
      <p class="font-medium text-sm">{author}</p>
    </div>
  </div>
  <p class="font-handlee text-lg translate-y-4 md:translate-y-1.5 xl:translate-y-0">{hour}</p>
</li>
